body {
    background-color: rgba(0, 100, 0, 0.496);
    color: rgb(63, 23, 23);
    font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal; 
}

main {
    max-width: 600px;
    margin-left:auto ;
    margin-right:auto ;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
 }

 p {
    font-size: 18px;
    line-height: 140%;
    text-indent: 40px;
}

h3 {
font-size: 24px;
}

h4 {
    font-size: 20px;
    line-height: 5%;
    border-left: solid;
    border-color: rgba(0, 61, 0, 0.432);
    border-width: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

ul {
    font-size: 18px;
    font-weight: bold;
    line-height: 140%;
}

 .green {
     border-left: solid;
     border-color: rgba(0, 61, 0, 0.432);
     border-width: 10px;
     padding: 10px;
 }

 .darkgreen {
    color: rgba(0, 61, 0, 0.818);
 }

 .underline {
    text-decoration: underline;
 }

.marginbottom {
    margin-bottom: 60px;
}

.marginbottomlist {
    margin-bottom: 48px;
}

.marginbody {
    margin-bottom: 60px;
}